<div class="min-h-full">
    <app-menu></app-menu>
  
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <p class="text-3xl font-bold tracking-tight titles-color text-right">Revenus</p>
      </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div class="background-container px-4 py-4 shadow-xl">
                <div class="flex items-center justify-center">
                    <app-pie-chart></app-pie-chart>                   
                </div>
                <div class="flex justify-end">
                  <div class="flex flex-col space-y-2">
                    <button (click)="openNewIncome()" class="block rounded-md bg-green-50 px-3 py-2 text-sm font-medium text-green-700 ring-1 ring-inset ring-green-600/20">+ Ajouter un revenu</button>   
                  </div>
                </div>
            </div>
        </div>        
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <div class="transactions">
            <div *ngFor="let transaction of incomes" class="transaction-item background-container shadow-xl p-4">
                <div class="col-md-6">
                  <span class="transaction-category">{{ transaction.transactionCategory }}</span>
                  <span class="transaction-name">{{ transaction.name }}</span>
                </div>
                <div class="col-md-6 text-right">
                  <span class="transaction-value" [ngClass]="{'positive': transaction.transactionCategory === 'spending', 'negative': transaction.transactionCategory === 'income'}">
                    +{{ transaction.value }}
                  </span>
                  <br>
                  <span class="transaction-date">{{ transaction.date | date: 'medium' }}</span>
                </div>
              </div>
          </div>
        </div>     
    </main>
  </div>
  