<div class="min-h-full">
    <app-menu></app-menu>
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <p class="text-3xl font-bold tracking-tight titles-color text-right">Dashboard</p>
      </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div class="background-container px-4 py-4 shadow-xl">
                <div class="flex items-center justify-between">
                    <h1 class="text-2xl font-bold tracking-tight titles-color">Budget</h1>
                    <button mat-button (click)="openNewCategory()" class="block rounded-md bg-purple-50 px-3 py-2 text-sm font-medium text-purple-900 ring-1 ring-inset ring-purple-900">+ Ajouter catégorie</button>
                </div>
                <div class="flex justify-center">
                    <app-pie-chart></app-pie-chart>                   
                </div>
                <div class="flex justify-end">
                  <div class="flex flex-col space-y-2">
                    <button mat-button (click)="openNewIncome()" class="block rounded-md bg-green-50 px-3 py-2 text-sm font-medium text-green-700 ring-1 ring-inset ring-green-600/20">+ Nouveau revenu</button>
                    <button mat-button (click)="openNewSpending()" class="block rounded-md bg-blue-50 px-3 py-2 text-sm font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">+ Nouvelle dépense</button>   
                  </div>
                </div>
            </div>
        </div>        
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div class="background-container px-4 py-4 shadow-xl">
                <div>
                    <h1 class="text-2xl font-bold tracking-tight titles-color">Budget prévisionnel/réel</h1>
                    <h3 class="tracking-tight text-gray-400">Des six derniers mois</h3>
                </div>
                <div class="flex justify-center">
                  <app-budget-prev-reel></app-budget-prev-reel>
                </div>
            </div>
        </div>   
    </main>
  </div>
  