<div class="min-h-full">
    <app-menu></app-menu>
  
    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight titles-color text-right">Dépenses</h1>
      </div>
    </header>
    <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div class="background-container px-4 py-4 shadow-xl">
                <div class="flex items-center justify-center">
                    <app-pie-chart></app-pie-chart>                   
                </div>
                <div class="flex justify-end">
                  <div class="flex flex-col space-y-2">
                    <button class="block rounded-md bg-blue-50 px-3 py-2 text-sm font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10">+ Ajouter une dépense</button>   
                  </div>
                </div>
            </div>
        </div>        
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
            <div class="background-container px-4 py-4 shadow-xl">
                <div>
                    <h3 class="text-2xl font-bold tracking-tight titles-color">Budget prévisionnel/réel</h3>
                    <h5 class="tracking-tight text-gray-400">Des six derniers mois</h5>
                </div>
                <div class="text-center">
                    <p>graph</p>
                </div>
            </div>
        </div>   
    </main>
  </div>
  